.container {
    width    : 100%;
    max-width: 1600px;
    min-width: 280px;
    margin   : 0 auto;
    padding: 0 15px;
  }
  
  .block {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  
  .link {
    text-decoration: underline;
    color: #7dbfff;
    transition: color .3s linear;

    &:hover {
      color: #fff;
    }
  }

  .shadow {
    position: absolute;
    top: -10px;

    width: 100%;
    box-shadow: 0 10px 7px #000;
    height: 10px;
    z-index: 100000;
  }
  
  .btn {
    padding: 16px 70px;
    margin-bottom: 16px;
    box-shadow: 0px 4px 52px rgba(0, 39, 66, 0.9);
    border-radius: 3px;
  
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #004373;
  
    background-color: #7DBFFF;
  
    transition: background-color .3s linear;
  
    &:hover {
      background-color: #fff;
    }
  
    &_next {
      width: 100%;
    }
  
    &__wrapper {
      display: flex;
      justify-content: center;
    }
  }
  
  .num {
    margin-bottom: 16px;
  
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .page {
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    padding-bottom: 20px;
  
    &__header {
      position: relative;
      height: 194px;
      border-bottom: 2px solid #fff;
  
      background-size: cover;
      background-position: bottom;
    }

    &__section {
      padding-top: 22px;
      display: flex;
      flex-direction: column;
    }

    &_result {
      height: auto;
      padding-bottom: 0;
    }  
  
    &__mirror {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 128px; 
    }

    &__wheel {
      display: none;
    }
  
    &__copyright {      
      margin-top: auto;
    }
  
    &__labels {
      margin-top: 11px;
    }
  }
  
  
  
  @media(min-width: 1280px) {
    .num {
      margin-bottom: 27px;
    }
  
    .container {
      padding-left: 9.5%;
      padding-right: 9.5%;
    }
  
    .block {
      border-left: 2px solid #fff;
    }

    .shadow {
      box-shadow: 0 10px 12px #000;
    }
  
    .btn {
      min-width: 52px;
      width: auto;
      &__wrapper {
        justify-content: flex-start;
      }
    }
  
    .page {
      flex-direction: row;
      padding-bottom: 0;
  
      &__header {
        height: 100vh;
        width: 50%;
        border-bottom: none;
        border-right: 2px solid #fff;
        overflow: hidden;
  
        background-position: bottom;
      }

      &__section {
        width: 50%;
        padding-right: 80px;
        padding-top: 80px;
      }
  
      &__copyright {
        position: absolute;
        right: 125px;
        margin-top: calc(100vh - 32px);
      }
  
      &__mirror {
        left: auto;
        transform: translate(0);
        right: 48px;
        width: 320px;
      }

      &__wheel {
        position: absolute;
        left: 67px;
        bottom: 30px;
        display: block;
        width: auto;
        height: auto;
        transform: scale(1.2);
      }
    }  
  }