@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), 
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: 
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'),
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: 
       url('../fonts/open-sans-v27-latin_cyrillic-800.woff2') format('woff2'), 
       url('../fonts/open-sans-v27-latin_cyrillic-800.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: 
       url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), 
       url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: 
       url('../fonts/Play-Bold.ttf') format('truetype');
  font-display: swap;
}

html {
  width     : 100%;
  max-width : 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;

  margin    : 0;
  padding   : 0;
  width     : 100%;
  max-width : 100%;
  font-weight: 400;
  /* overflow-x: hidden; */

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height : 22px;
  font-weight: 700;
  color: #fff;

  background-color: #004373;
}

img {
  max-width: 100%;
  height   : auto;
}

a {
  text-decoration: none;
  color          : inherit;
  font           : inherit;
  line-height    : inherit;
  cursor         : pointer;
}

ul {
  list-style: none;
  padding   : 0;
  margin    : 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin : 0;

  font: inherit;
}

button {
  border : none;
  margin : 0;
  padding: 0;

  font: inherit;
  cursor          : pointer;
}

@media(min-width: 1280px) {
  body {
    overflow-y: hidden;
    min-height: 100vh;

    font-size: 14px;
  line-height : 24px;
  }
}

